version: '3.8'

services:
  bot:
    image: ugryumnik/legal-rag-bot:latest
    container_name: bot-app
    depends_on:
      - qdrant
      - postgres
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=postgres
      - QDRANT_HOST=qdrant
    env_file:
      - .env
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    volumes:
      - qdrant_data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=legal_rag
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  qdrant_data:
  pg_data: